<form action="/account_types" method="post">
    <div class="mb-3">
      <label for="inputName" class="form-label">NAME</label>
      <input type="text" name="name" class="form-control" id="inputName" required/>
    </div>
    <div class="mb-3">
      <label for="txtDescription" class="form-label">DESCRIPTION</label>
      <textarea class="form-control" name="description" id="txtDescription" rows="3"> </textarea>
    </div>
    <button type="submit" class="btn bg-boton">Submit</button>
  </form>