<form action="/clients" method="post">
    <div class="mb-3">
        <label for="inputName" class="form-label">First Name</label>
        <input type="text" name="first_name" class="form-control" id="firstName" required>
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input class="form-control" name="lats_name" id="lastName" rows="3" required/>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input class="form-control" name="email" id="email" rows="3" required/>
    </div>
    <div class="mb-3">
        <label for="telephone" class="form-label">Telephone</label>
        <input class="form-control" name="telephone" id="telephone" rows="3" required/>
    </div>
    <button type="submit" class="btn bg-boton">Submit</button>
  </form>