<footer class="footer mt-auto py-3" style="background-color: #9051ff;">
    <div class="container">
      <p class="text-center" style="color: white;"> Copyright &copy; 2021 </p>
    </div>
  </footer>
  <script>
    const toggle = document.getElementById('toggle');
  const navbar = document.getElementById('navbar');
  const header = document.getElementById('header');


document.onclick = function(e){
    if(e.target.id !== 'header' && e.target.id !== 'toggle' && e.target.id !== 'navbar'){
        toggle.classList.remove('active');
        navbar.classList.remove('active');
    }
}


toggle.onclick = function () {
    toggle.classList.toggle('active');
    navbar.classList.toggle('active');
}
$(document).ready(function(){
        var slideNum = $('.carousel-inner .carousel-item').length;
        var randomNum = Math.floor(Math.random() * slideNum) + 1;
        var randomNumIndex = randomNum - 1;
        $('.carousel').carousel( randomNumIndex );
        $('.carousel-item').removeClass('transparent');
      });
  </script>