<nav id='header'>
    <a href="/" class="logo">Bank Squad</a>
    <div id="toggle"></div>
    <div id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/clients">Clients</a></li>
            <li><a href="/account_types">Account_types</a></li>
        </ul>
    </div>
</nav>