<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header'); -%>
    <%- include('partials/style'); -%>
<body>
    <%- include('partials/navigation'); -%>
    <section>
        <div class="container">
            <h1 style="text-align: center; margin-bottom: 50px;">
                Bienvenido a Bank Squad!!
            </h1>
            <p style="text-align: center;">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, rem dicta quisquam repellendus quasi voluptatibus sunt. Incidunt enim iusto reiciendis quis recusandae totam, autem perferendis soluta quos ipsam quibusdam rem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ipsam tempora obcaecati suscipit perspiciatis sit, molestias minus modi, dignissimos aut ipsum illo, voluptas error enim magnam earum vero molestiae. Asperiores?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat esse dolore, dicta minus tempora debitis ipsum est id exercitationem dignissimos! Nulla quas ullam maiores amet recusandae optio numquam officia veniam!
            </p>
        </div>
    </section>
    <%- include('partials/footer'); -%>
</body>
</html>