<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header'); -%>
    <%- include('partials/style'); -%>
<body>
    <%- include('partials/navigation'); -%>
    <section>
        <div class="container-slider">
            <div class="slider" id="slider">
                <div class="slider__section">
                    <div class="img_slider1">
                        <div class="layout">
                            <p class="text_paraf">
                                gtrtg
                            </p>
                        </div>
                    </div>
                </div>
                <div class="slider__section">
                    <div class="img_slider2">
                        <div class="layout">
                            <p class="text_paraf">
                                trt
                            </p>
                        </div>
                    </div>
                </div>
                <div class="slider__section">
                    <div class="img_slider3">
                        <div class="layout">
                            <p class="text_paraf">
                                rthryht
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/footer'); -%>
</body>
</html>